.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputContainer {
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;

        .input {
            height: 34px;
            width: 237px;
        }
    }


}